/*************************
Base Styles
*************************/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Helvetica Neue, Arial;
  font-size: 16px;
  line-height: 26px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.header-container {
    border-bottom: 20px solid #599a68;
}

.footer-container,
.main aside {
    border-top: 20px solid #599a68;
}

.header-container,
.footer-container,
.main aside {
    background: #6ab47b;
}

.title {
    color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #599a68;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

.column-right img {
  float: left;
  max-width: 100%;
  padding-top: 25px;
}

/*************************
Media Queries
*************************/

@media screen and (min-width: 480px)  {
  nav a {
    display: inline-block;
    float: left;
    padding: 5px 14px;
    margin: 0 10px 0px 0;
  }
}

@media screen and (min-width: 600px)  {
  nav a {
    padding: 10px 45px;

  }
}

@media screen and (min-width: 800px)  {
  header nav {
    margin-top: 75px;
  }
  header .title {
    font-size: 2.5em;
    margin-top: 75px;
  }
}

@media screen and (min-width: 800px)  {
  article {
    width: 62.66%;
    float: left;
    margin-right: 4%;
  }
  article section {
    padding: 20px 40px 20px 20px;
  }
  article section:nth-of-type(2) h2 {
    margin-top: 0;
  }

  .main .column-right {
    width: 33.33%;
    float: left;
    padding: 25px;
  }
  .main h3 {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px)  {
  article {
    max-width: 650px;
  }
.main-container {
  max-width: 1240px;
  margin: auto;
}
  .main aside {
    float: right;
    margin: auto;
  }
  nav a {
    font-size: 1.5em;
    padding: 20px 55px;
    margin-right: 20px;
  }

  aside h3,
  footer h3 {
    font-size: 1.5em;
  }

  section h2 {
    font-weight: normal;
  }
}
/*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
